In [1]:
import os
import pandas as pd
import AnaliseExploratoria_functions

current_path = os.getcwd()
csv_path = (current_path + '/Data/campeonatos_futebol_atualizacao.csv')

In [2]:
df = pd.read_csv(csv_path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27716 entries, 0 to 27715
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Chutes a gol 1       26204 non-null  float64
 1   Chutes a gol 2       26204 non-null  float64
 2   Impedimentos 1       24942 non-null  float64
 3   Impedimentos 2       24942 non-null  float64
 4   Escanteios 1         25388 non-null  float64
 5   Escanteios 2         25388 non-null  float64
 6   Chutes fora 1        25392 non-null  float64
 7   Chutes fora 2        25392 non-null  float64
 8   Faltas 1             25394 non-null  float64
 9   Faltas 2             25394 non-null  float64
 10  Cartões amarelos 1   27716 non-null  float64
 11  Cartões amarelos 2   27716 non-null  float64
 12  Cartões vermelhos 1  27716 non-null  float64
 13  Cartões vermelhos 2  27716 non-null  float64
 14  Cruzamentos 1        9015 non-null   float64
 15  Cruzamentos 2        9015 non-null   float64
 16  Laterais 1           15167 non-null  float64
 17  Laterais 2           15167 non-null  float64
 18  Chutes bloqueados 1  8843 non-null   float64
 19  Chutes bloqueados 2  8843 non-null   float64
 20  Contra-ataques 1     6263 non-null   float64
 21  Contra-ataques 2     6263 non-null   float64
 22  Gols 1               27716 non-null  float64
 23  Gols 2               27716 non-null  float64
 24  Tiro de meta 1       12015 non-null  float64
 25  Tiro de meta 2       12015 non-null  float64
 26  Tratamentos 1        5019 non-null   float64
 27  Tratamentos 2        5019 non-null   float64
 28  Substituições 1      9420 non-null   float64
 29  Substituições 2      9420 non-null   float64
 30  Tiros-livres 1       6246 non-null   float64
 31  Tiros-livres 2       6246 non-null   float64
 32  Defesas difíceis 1   6196 non-null   float64
 33  Defesas difíceis 2   6196 non-null   float64
 34  Posse 1(%)           25366 non-null  float64
 35  Posse 2(%)           25366 non-null  float64
 36  Time 1               27716 non-null  object
 37  Time 2               27716 non-null  object
 38  Position 1           26114 non-null  object
 39  Position 2           26086 non-null  object
dtypes: float64(36), object(4)
memory usage: 8.5+ MB

In [4]:
# temos 40 variáveis (colunas) com 27716 linhas. Sendo 36 floats

In [5]:
df

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,...,NaN,NaN,NaN,NaN,77.0,23.0,Glasgow Rangers,Livingston,4-3-3,4-3-3
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,...,NaN,NaN,NaN,NaN,44.0,56.0,Ross County,St.Johnstone,3-5-2,3-5-2
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Dundee FC,St. Mirren,4-3-3,3-4-1-2
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,...,NaN,NaN,NaN,NaN,27.0,73.0,Hearts,Celtic,3-4-3,4-2-3-1
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,...,NaN,NaN,NaN,NaN,58.0,42.0,Aberdeen,Dundee U.,4-4-2,3-5-1-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27711,6.0,2.0,1.0,0.0,9.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Aston Villa,Blackburn,4-4-2,4-5-1
27712,6.0,0.0,4.0,3.0,4.0,2.0,8.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,52.0,48.0,Arsenal,Fulham,4-2-3-1,4-4-2
27713,7.0,7.0,2.0,3.0,10.0,2.0,8.0,0.0,10.0,6.0,...,NaN,NaN,NaN,NaN,55.0,45.0,Manchester Utd,Stoke,4-4-2,4-4-2
27714,6.0,6.0,1.0,2.0,4.0,3.0,4.0,6.0,5.0,3.0,...,NaN,NaN,NaN,NaN,45.0,55.0,West Ham,Manchester City,4-5-1,4-4-2
27715,4.0,2.0,NaN,NaN,2.0,6.0,4.0,11.0,11.0,8.0,...,NaN,NaN,NaN,NaN,47.0,53.0,Hull,Liverpool,4-4-2,4-2-3-1

In [6]:
print(df.isnull().sum())

# Explicação da linha acima: df.isnull() cria um df com booleanos, com True se tivermos NaN.
                        #    df.sum soma todos esses valores True, indicando quantos NaN temos por variável.

Chutes a gol 1          1512
Chutes a gol 2          1512
Impedimentos 1          2774
Impedimentos 2          2774
Escanteios 1            2328
Escanteios 2            2328
Chutes fora 1           2324
Chutes fora 2           2324
Faltas 1                2322
Faltas 2                2322
Cartões amarelos 1         0
Cartões amarelos 2         0
Cartões vermelhos 1        0
Cartões vermelhos 2        0
Cruzamentos 1          18701
Cruzamentos 2          18701
Laterais 1             12549
Laterais 2             12549
Chutes bloqueados 1    18873
Chutes bloqueados 2    18873
Contra-ataques 1       21453
Contra-ataques 2       21453
Gols 1                     0
Gols 2                     0
Tiro de meta 1         15701
Tiro de meta 2         15701
Tratamentos 1          22697
Tratamentos 2          22697
Substituições 1        18296
Substituições 2        18296
Tiros-livres 1         21470
Tiros-livres 2         21470
Defesas difíceis 1     21520
Defesas difíceis 2     21520
Posse 1(%)              2350
Posse 2(%)              2350
Time 1                     0
Time 2                     0
Position 1              1602
Position 2              1630
dtype: int64

In [7]:
# É interessante notar que os valores NaN combinam em pares com o time 1 e 2, menos em Position.
# Temos que investigar o porquê de tantos NaN e o que fazer com eles.

In [8]:
list(df.columns) # listando todas as variáveis do df

['Chutes a gol 1',
 'Chutes a gol 2',
 'Impedimentos 1',
 'Impedimentos 2',
 'Escanteios 1',
 'Escanteios 2',
 'Chutes fora 1',
 'Chutes fora 2',
 'Faltas 1',
 'Faltas 2',
 'Cartões amarelos 1',
 'Cartões amarelos 2',
 'Cartões vermelhos 1',
 'Cartões vermelhos 2',
 'Cruzamentos 1',
 'Cruzamentos 2',
 'Laterais 1',
 'Laterais 2',
 'Chutes bloqueados 1',
 'Chutes bloqueados 2',
 'Contra-ataques 1',
 'Contra-ataques 2',
 'Gols 1',
 'Gols 2',
 'Tiro de meta 1',
 'Tiro de meta 2',
 'Tratamentos 1',
 'Tratamentos 2',
 'Substituições 1',
 'Substituições 2',
 'Tiros-livres 1',
 'Tiros-livres 2',
 'Defesas difíceis 1',
 'Defesas difíceis 2',
 'Posse 1(%)',
 'Posse 2(%)',
 'Time 1',
 'Time 2',
 'Position 1',
 'Position 2']

In [9]:
df[['Gols 1','Gols 2']]

       Gols 1  Gols 2
0         3.0     0.0
1         0.0     0.0
2         2.0     2.0
3         2.0     1.0
4         2.0     0.0
...       ...     ...
27711     0.0     1.0
27712     4.0     0.0
27713     4.0     0.0
27714     1.0     1.0
27715     0.0     0.0

[27716 rows x 2 columns]

In [10]:
resultados = AnaliseExploratoria_functions.calcular_resultado(df)
resultados

0        Vitória
1         Empate
2         Empate
3        Vitória
4        Vitória
          ...
27711    Derrota
27712    Vitória
27713    Vitória
27714     Empate
27715     Empate
Name: resultado, Length: 27716, dtype: object

In [11]:
# 45.1% dos resultados são vitórias pro time 1
# 29.5% dos resultados são empates
# 25.4% dos resultados são derrotas pro time 1 (vitórias pro time 2)

In [12]:
# vamos criar um dataframe com os resultados finais
df_com_resultados = pd.concat([df, resultados], axis=1)
df_com_resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27716 entries, 0 to 27715
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Chutes a gol 1       26204 non-null  float64
 1   Chutes a gol 2       26204 non-null  float64
 2   Impedimentos 1       24942 non-null  float64
 3   Impedimentos 2       24942 non-null  float64
 4   Escanteios 1         25388 non-null  float64
 5   Escanteios 2         25388 non-null  float64
 6   Chutes fora 1        25392 non-null  float64
 7   Chutes fora 2        25392 non-null  float64
 8   Faltas 1             25394 non-null  float64
 9   Faltas 2             25394 non-null  float64
 10  Cartões amarelos 1   27716 non-null  float64
 11  Cartões amarelos 2   27716 non-null  float64
 12  Cartões vermelhos 1  27716 non-null  float64
 13  Cartões vermelhos 2  27716 non-null  float64
 14  Cruzamentos 1        9015 non-null   float64
 15  Cruzamentos 2        9015 non-null   float64
 16  Laterais 1           15167 non-null  float64
 17  Laterais 2           15167 non-null  float64
 18  Chutes bloqueados 1  8843 non-null   float64
 19  Chutes bloqueados 2  8843 non-null   float64
 20  Contra-ataques 1     6263 non-null   float64
 21  Contra-ataques 2     6263 non-null   float64
 22  Gols 1               27716 non-null  float64
 23  Gols 2               27716 non-null  float64
 24  Tiro de meta 1       12015 non-null  float64
 25  Tiro de meta 2       12015 non-null  float64
 26  Tratamentos 1        5019 non-null   float64
 27  Tratamentos 2        5019 non-null   float64
 28  Substituições 1      9420 non-null   float64
 29  Substituições 2      9420 non-null   float64
 30  Tiros-livres 1       6246 non-null   float64
 31  Tiros-livres 2       6246 non-null   float64
 32  Defesas difíceis 1   6196 non-null   float64
 33  Defesas difíceis 2   6196 non-null   float64
 34  Posse 1(%)           25366 non-null  float64
 35  Posse 2(%)           25366 non-null  float64
 36  Time 1               27716 non-null  object
 37  Time 2               27716 non-null  object
 38  Position 1           26114 non-null  object
 39  Position 2           26086 non-null  object
 40  resultado            27716 non-null  object
dtypes: float64(36), object(5)
memory usage: 8.7+ MB

In [13]:
# Temos 27716 non-null resultados, o que é bom. Já que tinhamos 27716 linhas no df original. Também aumentamos em 1 coluna o df.
# Vamos agora aplicar uma função que atribui os valores de "Chutes fora" para "Tiros de meta" à fim de reduzir o 
# número de NaNs

In [14]:
df_atualizado = AnaliseExploratoria_functions.substituir_tiros_por_chutes(df_com_resultados)
df_atualizado

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2,resultado
0,8.0,0.0,6.0,3.0,7.0,1.0,6.0,1.0,8.0,14.0,...,NaN,NaN,NaN,77.0,23.0,Glasgow Rangers,Livingston,4-3-3,4-3-3,Vitória
1,0.0,2.0,0.0,2.0,0.0,4.0,3.0,4.0,19.0,14.0,...,NaN,NaN,NaN,44.0,56.0,Ross County,St.Johnstone,3-5-2,3-5-2,Empate
2,4.0,5.0,1.0,5.0,8.0,11.0,2.0,5.0,13.0,14.0,...,NaN,NaN,NaN,47.0,53.0,Dundee FC,St. Mirren,4-3-3,3-4-1-2,Empate
3,4.0,7.0,8.0,1.0,6.0,5.0,4.0,7.0,4.0,11.0,...,NaN,NaN,NaN,27.0,73.0,Hearts,Celtic,3-4-3,4-2-3-1,Vitória
4,3.0,1.0,1.0,3.0,5.0,4.0,2.0,2.0,12.0,17.0,...,NaN,NaN,NaN,58.0,42.0,Aberdeen,Dundee U.,4-4-2,3-5-1-1,Vitória
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27711,6.0,2.0,1.0,0.0,9.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,52.0,48.0,Aston Villa,Blackburn,4-4-2,4-5-1,Derrota
27712,6.0,0.0,4.0,3.0,4.0,2.0,8.0,2.0,11.0,9.0,...,NaN,NaN,NaN,52.0,48.0,Arsenal,Fulham,4-2-3-1,4-4-2,Vitória
27713,7.0,7.0,2.0,3.0,10.0,2.0,8.0,0.0,10.0,6.0,...,NaN,NaN,NaN,55.0,45.0,Manchester Utd,Stoke,4-4-2,4-4-2,Vitória
27714,6.0,6.0,1.0,2.0,4.0,3.0,4.0,6.0,5.0,3.0,...,NaN,NaN,NaN,45.0,55.0,West Ham,Manchester City,4-5-1,4-4-2,Empate
27715,4.0,2.0,NaN,NaN,2.0,6.0,4.0,11.0,11.0,8.0,...,NaN,NaN,NaN,47.0,53.0,Hull,Liverpool,4-4-2,4-2-3-1,Empate