# Bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

# Coleta do DataFrame

In [2]:
ds = pd.read_csv("Data/campeonatos_futebol_atualizacao.csv")
df = pd.DataFrame(ds)
df.describe()

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tratamentos 1,Tratamentos 2,Substituições 1,Substituições 2,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%)
count,26204.000000,26204.000000,24942.000000,24942.000000,25388.000000,25388.000000,25392.000000,25392.000000,25394.000000,25394.000000,...,5019.000000,5019.000000,9420.000000,9420.000000,6246.000000,6246.000000,6196.000000,6196.000000,25366.000000,25366.000000
mean,4.767287,3.854526,2.139844,1.968527,5.548409,4.459824,6.034302,4.956758,12.694495,12.946444,...,1.995617,2.134489,3.000318,3.001168,14.156260,14.245757,2.676888,3.206908,51.315659,48.508279
std,2.797705,2.444182,1.754924,1.681298,2.975521,2.620973,3.224260,5.451316,4.337402,4.608542,...,2.258323,2.296141,1.020285,1.033004,4.432963,4.335781,1.842689,2.078474,9.834217,9.808893
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,2.000000,1.000000,1.000000,3.000000,3.000000,4.000000,3.000000,10.000000,10.000000,...,0.000000,0.000000,3.000000,3.000000,11.000000,11.000000,1.000000,2.000000,45.000000,42.000000
50%,4.000000,4.000000,2.000000,2.000000,5.000000,4.000000,6.000000,5.000000,12.000000,13.000000,...,1.000000,2.000000,3.000000,3.000000,14.000000,14.000000,2.000000,3.000000,52.000000,48.000000
75%,6.000000,5.000000,3.000000,3.000000,7.000000,6.000000,8.000000,7.000000,15.000000,16.000000,...,3.000000,3.000000,3.000000,3.000000,17.000000,17.000000,4.000000,4.000000,58.000000,55.000000
max,90.000000,80.000000,23.000000,15.000000,22.000000,21.000000,23.000000,748.000000,46.000000,180.000000,...,17.000000,16.000000,6.000000,6.000000,36.000000,33.000000,11.000000,17.000000,100.000000,100.000000

# Identificando NaN

Abaixo, descobrimos quantos % de cada coluna não está preenchida (é NaN), e os ordenamos de forma descrescente.

In [3]:
nan_percent = df.isna().mean() * 100
print(nan_percent.sort_values(ascending=False))

Tratamentos 2          81.891326
Tratamentos 1          81.891326
Defesas difíceis 2     77.644682
Defesas difíceis 1     77.644682
Tiros-livres 1         77.464281
Tiros-livres 2         77.464281
Contra-ataques 2       77.402944
Contra-ataques 1       77.402944
Chutes bloqueados 1    68.094242
Chutes bloqueados 2    68.094242
Cruzamentos 1          67.473661
Cruzamentos 2          67.473661
Substituições 1        66.012412
Substituições 2        66.012412
Tiro de meta 1         56.649589
Tiro de meta 2         56.649589
Laterais 1             45.277096
Laterais 2             45.277096
Impedimentos 1         10.008659
Impedimentos 2         10.008659
Posse 1(%)              8.478857
Posse 2(%)              8.478857
Escanteios 1            8.399480
Escanteios 2            8.399480
Chutes fora 2           8.385048
Chutes fora 1           8.385048
Faltas 1                8.377832
Faltas 2                8.377832
Position 2              5.881080
Position 1              5.780055
Chutes a gol 2          5.455333
Chutes a gol 1          5.455333
Gols 2                  0.000000
Gols 1                  0.000000
Cartões vermelhos 2     0.000000
Cartões vermelhos 1     0.000000
Cartões amarelos 2      0.000000
Cartões amarelos 1      0.000000
Time 2                  0.000000
Time 1                  0.000000
dtype: float64

# Técnicas para lidar com os NaN

- Tratamento 1 e 2: podem significar não atendimentos no campo durante o jogo.
- Chutes para fora: podem ser equivalentes a escanteios, laterais e tiros de meta


- Técnicas de fill

# Checando colunas com poucos NaN

Nos casos em que poucos itens não estão preenchidos (próximo de 10% ou menos), utilizei a mediana como variável para ser substituída como valor padrão. Por exemplo, se a mediana de gols feitos pelo time 1 (da casa) foi 2, então todos os jogos em que a quantidade de gols não foi registrada foi substituída como 2. 

As colunas que estão nesse grupo, e por isso foram preenchidas dessa forma, foram:  

1. Chutes a gol (5.4%)  
2. Faltas (8.3%)  
3. Chutes fora (8.3%)  
4. Escanteios (8.3%)  
5. Posse (8.4%)  
6. Impedimentos (10%)  

Há mais uma coluna que está quase completamente preenchida: a de posição. Contudo, por ser uma coluna categórica, ela não foi tratada assim.

    Ideia de melhoria: talvez fosse interessante substituir pela mediana especifica de cada time, ao invés da mediana geral. 
    Por exemplo, se o time A normalmente faz x gols, poderíamos substituir x como valor padrão em todos os NaN da coluna gol do time A.

    Observação: checar depois se a média é um parâmetro melhor do que a mediana

In [4]:
df_corrigido = df.copy() # fiz uma cópia do df para ser alterado, e termos como checar o original caso necessário
total_linhas = len(df)

# substituindo em todas as colunas numéricas que estejam abaixo de 11% (para cobrir todas as que desejamos alterar) pela mediana
for coluna in df_corrigido.select_dtypes(include=["number"]).columns:
    if nan_percent[coluna] < 11:
        valor_preenchimento = df_corrigido[coluna].median() 
        df_corrigido.fillna({coluna: valor_preenchimento}, inplace=True)

In [5]:
# Checando que os dados foram realmente preenchidos:
nan_percent = df_corrigido.isna().mean() * 100
print(nan_percent.sort_values(ascending=False))

Tratamentos 2          81.891326
Tratamentos 1          81.891326
Defesas difíceis 2     77.644682
Defesas difíceis 1     77.644682
Tiros-livres 1         77.464281
Tiros-livres 2         77.464281
Contra-ataques 2       77.402944
Contra-ataques 1       77.402944
Chutes bloqueados 1    68.094242
Chutes bloqueados 2    68.094242
Cruzamentos 1          67.473661
Cruzamentos 2          67.473661
Substituições 1        66.012412
Substituições 2        66.012412
Tiro de meta 1         56.649589
Tiro de meta 2         56.649589
Laterais 1             45.277096
Laterais 2             45.277096
Position 2              5.881080
Position 1              5.780055
Impedimentos 2          0.000000
Impedimentos 1          0.000000
Chutes a gol 2          0.000000
Chutes a gol 1          0.000000
Chutes fora 2           0.000000
Chutes fora 1           0.000000
Escanteios 2            0.000000
Escanteios 1            0.000000
Cartões amarelos 2      0.000000
Cartões amarelos 1      0.000000
Cartões vermelhos 2     0.000000
Cartões vermelhos 1     0.000000
Gols 2                  0.000000
Gols 1                  0.000000
Faltas 1                0.000000
Faltas 2                0.000000
Posse 2(%)              0.000000
Posse 1(%)              0.000000
Time 2                  0.000000
Time 1                  0.000000
dtype: float64

# NaN na coluna positions

Como a posição não é um valor numérico (mas sim uma categoria), não tem como substiuir pela média ou mediana. Contudo, podemos:
- Marcar como "ausente" 
- Atribuir a posição mais frequente 
- Simplesmente desconsiderá-la (não gostaria de fazer isso, mas também é uma opção)

    Substitui pela posição mais frequente, mas podemos mudar mais para frente se percebermos que é melhor deixá-la como "ausente". Além disso, apliquei a melhoria de considerar a posição mais frequente para cada time, ao invés da mais fequente no geral.

In [6]:
filtro = (df_corrigido["Position 1"].isna() | df_corrigido["Position 2"].isna())
df_corrigido[filtro]

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Tiros-livres 1,Tiros-livres 2,Defesas difíceis 1,Defesas difíceis 2,Posse 1(%),Posse 2(%),Time 1,Time 2,Position 1,Position 2
5,5.0,5.0,1.0,0.0,2.0,4.0,3.0,7.0,21.0,11.0,...,NaN,NaN,NaN,NaN,43.0,57.0,Motherwell,Hibernian,NaN,4-2-3-1
6,2.0,2.0,0.0,1.0,5.0,8.0,1.0,7.0,11.0,8.0,...,NaN,NaN,NaN,NaN,32.0,68.0,Dundee U.,Glasgow Rangers,NaN,4-3-3
7,3.0,4.0,5.0,1.0,4.0,0.0,3.0,6.0,11.0,11.0,...,NaN,NaN,NaN,NaN,49.0,51.0,St. Mirren,Hearts,NaN,3-4-2-1
10,4.0,5.0,4.0,1.0,8.0,6.0,5.0,5.0,12.0,10.0,...,NaN,NaN,NaN,NaN,52.0,48.0,St.Johnstone,Motherwell,3-4-2-1,NaN
17,5.0,11.0,6.0,0.0,2.0,11.0,2.0,6.0,9.0,8.0,...,NaN,NaN,NaN,NaN,33.0,67.0,Ross County,Glasgow Rangers,4-5-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2.0,2.0,1.0,0.0,7.0,2.0,8.0,3.0,11.0,13.0,...,13.0,12.0,1.0,1.0,50.0,50.0,Crystal Palace,Tottenham,NaN,NaN
23917,5.0,6.0,1.0,3.0,4.0,8.0,3.0,6.0,8.0,11.0,...,14.0,9.0,4.0,2.0,50.0,50.0,Arsenal,Watford,NaN,NaN
24223,10.0,1.0,0.0,4.0,8.0,2.0,9.0,4.0,7.0,4.0,...,8.0,7.0,1.0,8.0,68.0,32.0,Tottenham,Crystal Palace,NaN,NaN
25275,6.0,1.0,3.0,0.0,5.0,4.0,10.0,5.0,6.0,18.0,...,NaN,NaN,NaN,NaN,53.0,47.0,Liverpool,Manchester Utd,4-3-3,NaN
25276,5.0,3.0,9.0,0.0,6.0,6.0,4.0,3.0,16.0,10.0,...,NaN,NaN,NaN,NaN,45.0,55.0,Stoke,Arsenal,NaN,4-1-4-1

In [7]:
# Fiz duas vezes, uma para mudar todos os position 1 nulos, e outro para os position 2. Tenho quase certeza de que consigo fazer 
# um código que unifique os dois, mas não estava conseguindo.

filtro = df_corrigido["Position 1"].isna() # Filtro para os itens cuja posição 1 é nula
for linha in df_corrigido[filtro].index: # Percorremos cada linha do data frame filtrado

    # Buscamos a posição mais comum para aquele time, tanto quando ele é time da casa quanto quando é visitante,
    # criando dois dataframes diferentes e os concatenando. Então, vemos a moda, e a atribuímos como valor padrão ao invés do NaN
    time = df_corrigido.at[linha, "Time 1"]

    df_time_position1 = df[df["Time 1"] == time][["Time 1", "Position 1"]]
    df_time_position1 = df_time_position1.rename(columns={"Time 1":"Time", "Position 1":"Position"})

    df_time_position2 = df[df["Time 2"] == time][["Time 2", "Position 2"]]
    df_time_position2 = df_time_position2.rename(columns={"Time 2":"Time", "Position 2":"Position"})

    df_time = pd.concat([df_time_position1, df_time_position2])
    
    posicao_comum = df_time["Position"].mode()
    df_corrigido.at[linha, "Position 1"] = posicao_comum[0]

# repetimos o processo para a posição 2:
filtro = df_corrigido["Position 2"].isna() 
for linha in df_corrigido[filtro].index:
    time = df_corrigido.at[linha, "Time 1"]

    df_time_position1 = df[df["Time 1"] == time][["Time 1", "Position 1"]]
    df_time_position1 = df_time_position1.rename(columns={"Time 1":"Time", "Position 1":"Position"})

    df_time_position2 = df[df["Time 2"] == time][["Time 2", "Position 2"]]
    df_time_position2 = df_time_position2.rename(columns={"Time 2":"Time", "Position 2":"Position"})

    df_time = pd.concat([df_time_position1, df_time_position2])
    
    posicao_comum = df_time["Position"].mode()
    df_corrigido.at[linha, "Position 2"] = posicao_comum[0]

In [8]:
# Checando que realmente não há mais nenhum item com posição nula mostrando o data frame filtrado, e as porcentagens:

filtro = (df_corrigido["Position 1"].isna() | df_corrigido["Position 2"].isna())
display(df_corrigido[filtro])

nan_percent = df_corrigido.isna().mean() * 100
print(nan_percent["Position 1"])
print(nan_percent["Position 2"])

Empty DataFrame
Columns: [Chutes a gol 1, Chutes a gol 2, Impedimentos 1, Impedimentos 2, Escanteios 1, Escanteios 2, Chutes fora 1, Chutes fora 2, Faltas 1, Faltas 2, Cartões amarelos 1, Cartões amarelos 2, Cartões vermelhos 1, Cartões vermelhos 2, Cruzamentos 1, Cruzamentos 2, Laterais 1, Laterais 2, Chutes bloqueados 1, Chutes bloqueados 2, Contra-ataques 1, Contra-ataques 2, Gols 1, Gols 2, Tiro de meta 1, Tiro de meta 2, Tratamentos 1, Tratamentos 2, Substituições 1, Substituições 2, Tiros-livres 1, Tiros-livres 2, Defesas difíceis 1, Defesas difíceis 2, Posse 1(%), Posse 2(%), Time 1, Time 2, Position 1, Position 2]
Index: []

[0 rows x 40 columns]

0.0
0.0

    Então, percebi que estava me esquecendo de um detalhe crucial: não sabemos o quão frequente a posição mais comum realmente é

In [9]:
# Checando que não há nenhum time que só jogou jogos como time 1 ou como time 2 (apenas por desencargo): 

a = df["Time 1"].unique()
b = df["Time 2"].unique()

for element in a:
    if not (element in b):
        print(element)

In [10]:
# quantidade de posições únicas usadas por um mesmo time, e a média desse valor 
# (aqui já podemos notar que os times no geral usam muitas posições diferentes)

lista_times = df["Time 1"].unique()
posicoes_unicas = []

for time in lista_times:
    df_time1 = df[df["Time 1"] == time][["Position 1"]]
    df_time1 = df_time1.rename(columns={"Position 1":"Position"})
    
    df_time2 = df[df["Time 2"] == time][["Position 2"]]
    df_time2 = df_time2.rename(columns={"Position 2":"Position"})

    df_concatenado = pd.concat([df_time1, df_time2])

    posicoes_unicas.append(df_concatenado["Position"].nunique())

posicoes_unicas = sorted(list(posicoes_unicas), reverse=True)
print(posicoes_unicas)
print(sum(posicoes_unicas)/len(posicoes_unicas))

[23, 21, 20, 20, 19, 19, 19, 19, 19, 19, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 17, 17, 17, 17, 17, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1]
10.012903225806452

In [11]:
# porcentagem dos casos em que a moda é usada por cada time, e a média desse valor

lista_times = df["Time 1"].unique()
posicoes_unicas = []

for time in lista_times:
    df_time1 = df[df["Time 1"] == time][["Position 1"]]
    df_time1 = df_time1.rename(columns={"Position 1":"Position"})
    
    df_time2 = df[df["Time 2"] == time][["Position 2"]]
    df_time2 = df_time2.rename(columns={"Position 2":"Position"})

    df_concatenado = pd.concat([df_time1, df_time2])


    quantidade_moda = df_concatenado["Position"].value_counts()[df_concatenado["Position"].mode()[0]]
    total = df_concatenado["Position"].notna().sum()
    
    porcentagem = (quantidade_moda/total) * 100

    posicoes_unicas.append(porcentagem)

posicoes_unicas = sorted(list(posicoes_unicas), reverse=True)
print(posicoes_unicas)
print(sum(posicoes_unicas)/len(posicoes_unicas))

[np.float64(100.0), np.float64(100.0), np.float64(100.0), np.float64(100.0), np.float64(97.77777777777777), np.float64(97.36842105263158), np.float64(96.66666666666667), np.float64(96.66666666666667), np.float64(94.73684210526315), np.float64(94.44444444444444), np.float64(94.11764705882352), np.float64(93.33333333333333), np.float64(92.3076923076923), np.float64(90.43062200956938), np.float64(90.13157894736842), np.float64(87.71929824561403), np.float64(86.95652173913044), np.float64(86.95652173913044), np.float64(86.20689655172413), np.float64(86.02620087336244), np.float64(85.52631578947368), np.float64(84.44444444444444), np.float64(84.21052631578947), np.float64(84.21052631578947), np.float64(83.33333333333334), np.float64(82.66666666666667), np.float64(82.6086956521739), np.float64(82.35294117647058), np.float64(82.35294117647058), np.float64(80.43478260869566), np.float64(80.0), np.float64(79.45205479452055), np.float64(78.94736842105263), np.float64(78.94736842105263), np.float64(77.77777777777779), np.float64(77.6923076923077), np.float64(77.63157894736842), np.float64(77.24137931034483), np.float64(76.92307692307693), np.float64(76.878612716763), np.float64(76.66666666666667), np.float64(76.31578947368422), np.float64(76.31578947368422), np.float64(75.86206896551724), np.float64(75.54585152838428), np.float64(75.0), np.float64(74.13793103448276), np.float64(73.91304347826086), np.float64(73.68421052631578), np.float64(73.33333333333333), np.float64(73.33333333333333), np.float64(72.82608695652173), np.float64(71.875), np.float64(71.73913043478261), np.float64(71.52317880794702), np.float64(71.11111111111111), np.float64(71.05263157894737), np.float64(71.05263157894737), np.float64(70.58823529411765), np.float64(70.54263565891473), np.float64(70.0), np.float64(70.0), np.float64(69.86301369863014), np.float64(69.81132075471697), np.float64(69.73684210526315), np.float64(69.56521739130434), np.float64(69.23076923076923), np.float64(69.14660831509846), np.float64(67.83625730994152), np.float64(66.66666666666666), np.float64(66.66666666666666), np.float64(66.2269129287599), np.float64(65.9090909090909), np.float64(65.78947368421053), np.float64(64.76868327402136), np.float64(63.96396396396396), np.float64(63.1578947368421), np.float64(62.82894736842105), np.float64(62.60683760683761), np.float64(62.52983293556086), np.float64(62.5), np.float64(62.30769230769231), np.float64(62.14689265536724), np.float64(62.03703703703704), np.float64(61.98830409356725), np.float64(61.92893401015228), np.float64(61.53846153846154), np.float64(61.038961038961034), np.float64(60.0), np.float64(60.0), np.float64(60.0), np.float64(59.70873786407766), np.float64(59.61538461538461), np.float64(59.32203389830508), np.float64(59.06040268456376), np.float64(58.69565217391305), np.float64(58.69565217391305), np.float64(57.89473684210527), np.float64(57.89473684210527), np.float64(57.89473684210527), np.float64(57.89473684210527), np.float64(57.756563245823386), np.float64(57.534246575342465), np.float64(56.730769230769226), np.float64(56.54450261780105), np.float64(56.14035087719298), np.float64(55.55555555555556), np.float64(55.36992840095465), np.float64(55.26315789473685), np.float64(55.23809523809524), np.float64(55.223880597014926), np.float64(55.131264916467785), np.float64(55.00000000000001), np.float64(54.90196078431373), np.float64(54.347826086956516), np.float64(53.81818181818182), np.float64(53.38983050847458), np.float64(53.333333333333336), np.float64(53.28083989501312), np.float64(53.1578947368421), np.float64(52.94117647058824), np.float64(52.63157894736842), np.float64(52.63157894736842), np.float64(52.63157894736842), np.float64(52.63157894736842), np.float64(52.38095238095239), np.float64(52.0), np.float64(51.66666666666667), np.float64(51.187335092348285), np.float64(51.11111111111111), np.float64(51.10132158590308), np.float64(50.847457627118644), np.float64(50.83798882681564), np.float64(50.57471264367817), np.float64(50.32822757111597), np.float64(50.31578947368421), np.float64(50.13123359580053), np.float64(50.0), np.float64(50.0), np.float64(50.0), np.float64(50.0), np.float64(50.0), np.float64(50.0), np.float64(50.0), np.float64(48.743718592964825), np.float64(48.68421052631579), np.float64(48.68421052631579), np.float64(48.68421052631579), np.float64(48.59154929577465), np.float64(48.57142857142857), np.float64(48.35526315789473), np.float64(48.34123222748815), np.float64(48.07692307692308), np.float64(48.0), np.float64(47.82608695652174), np.float64(47.790055248618785), np.float64(47.72727272727273), np.float64(47.57281553398058), np.float64(47.368421052631575), np.float64(47.368421052631575), np.float64(47.368421052631575), np.float64(47.368421052631575), np.float64(47.368421052631575), np.float64(47.306791569086656), np.float64(47.16981132075472), np.float64(46.666666666666664), np.float64(46.62447257383967), np.float64(46.49122807017544), np.float64(46.49122807017544), np.float64(46.391752577319586), np.float64(46.15384615384615), np.float64(46.05263157894737), np.float64(46.0), np.float64(45.86466165413533), np.float64(45.26315789473684), np.float64(45.0), np.float64(44.73684210526316), np.float64(44.201312910284464), np.float64(44.11764705882353), np.float64(43.67088607594937), np.float64(43.455497382198956), np.float64(43.333333333333336), np.float64(43.20987654320987), np.float64(43.02325581395349), np.float64(42.857142857142854), np.float64(42.857142857142854), np.float64(42.63157894736842), np.float64(42.35807860262008), np.float64(42.10526315789473), np.float64(42.10526315789473), np.float64(42.10526315789473), np.float64(42.10526315789473), np.float64(42.05128205128205), np.float64(41.68618266978923), np.float64(41.62679425837321), np.float64(41.5929203539823), np.float64(41.30434782608695), np.float64(41.228070175438596), np.float64(41.21779859484778), np.float64(41.0958904109589), np.float64(40.833333333333336), np.float64(40.72727272727273), np.float64(40.55555555555556), np.float64(40.091116173120724), np.float64(40.0), np.float64(40.0), np.float64(39.9581589958159), np.float64(39.91228070175439), np.float64(39.650145772594755), np.float64(39.473684210526315), np.float64(39.11007025761124), np.float64(39.002932551319645), np.float64(38.9937106918239), np.float64(38.97435897435898), np.float64(38.88888888888889), np.float64(37.640449438202246), np.float64(37.316561844863735), np.float64(37.316561844863735), np.float64(37.24137931034483), np.float64(37.2), np.float64(37.1900826446281), np.float64(37.12984054669704), np.float64(36.84210526315789), np.float64(36.36363636363637), np.float64(36.29976580796253), np.float64(36.19631901840491), np.float64(36.15160349854227), np.float64(35.45706371191136), np.float64(35.338345864661655), np.float64(35.22727272727273), np.float64(35.146443514644346), np.float64(35.0), np.float64(35.0), np.float64(35.0), np.float64(34.21052631578947), np.float64(34.21052631578947), np.float64(33.557046979865774), np.float64(33.54037267080746), np.float64(33.33333333333333), np.float64(32.95454545454545), np.float64(32.89473684210527), np.float64(32.89473684210527), np.float64(32.78688524590164), np.float64(32.748538011695906), np.float64(32.69230769230769), np.float64(32.42677824267782), np.float64(32.35294117647059), np.float64(32.31197771587744), np.float64(32.242990654205606), np.float64(32.0), np.float64(31.932773109243694), np.float64(31.57894736842105), np.float64(31.57894736842105), np.float64(31.57894736842105), np.float64(31.57894736842105), np.float64(31.57894736842105), np.float64(31.57894736842105), np.float64(31.448763250883395), np.float64(31.236897274633122), np.float64(31.216931216931215), np.float64(31.11111111111111), np.float64(31.074766355140188), np.float64(30.526315789473685), np.float64(30.398322851153043), np.float64(30.263157894736842), np.float64(30.263157894736842), np.float64(29.577464788732392), np.float64(29.559748427672954), np.float64(29.268292682926827), np.float64(29.09090909090909), np.float64(28.999999999999996), np.float64(28.947368421052634), np.float64(28.57142857142857), np.float64(28.14070351758794), np.float64(28.10304449648712), np.float64(28.04878048780488), np.float64(27.941176470588236), np.float64(27.81456953642384), np.float64(27.631578947368425), np.float64(27.516778523489933), np.float64(27.403846153846157), np.float64(27.192982456140353), np.float64(27.142857142857142), np.float64(26.97947214076246), np.float64(26.94063926940639), np.float64(26.543209876543212), np.float64(26.451612903225808), np.float64(26.43312101910828), np.float64(26.31578947368421), np.float64(26.31578947368421), np.float64(26.31578947368421), np.float64(25.742574257425744), np.float64(25.438596491228072), np.float64(24.561403508771928), np.float64(24.53271028037383), np.float64(24.429223744292237), np.float64(24.342105263157894), np.float64(23.91304347826087), np.float64(23.684210526315788), np.float64(23.195876288659793), np.float64(22.36842105263158), np.float64(21.951219512195124), np.float64(21.511627906976745), np.float64(21.428571428571427), np.float64(21.11111111111111), np.float64(20.81081081081081), np.float64(18.88888888888889), np.float64(18.69918699186992), np.float64(18.633540372670808), np.float64(16.86046511627907)]
50.920525555724026

    Ou seja, os times usam sua posição mais comum, em média, 50% das vezes. Há aqueles times que a usam praticamente sempre, mas também temos alguns times que utilizam várias posições frequentemente, de forma que é difícil dizer uma posição realmente padrão. Então, teremos que desenvolver uma ideia melhor para como tratar esse NaN.

# Colunas que possuem vários NaN

Precisamos analisar como trataremos as colunas que possuem mais de 45% faltando

# Descobrindo se a quantidade de gols feitos está dentro da quantidade de chutes a gol

Na última reunião, foi levantada a questão da relação entre as variáveis chutes a gol e gols. Mais especificamente, se os gols que foram marcados também eram considerados chutes a gol, ou se os chutes a gol seriam apenas as "falhas". Testei esta hipótese checando se havia algum caso em que a quantidade de gols era maior que a quantidade de chutes a gol (já que, se isso fosse verdade, então com certeza os gols não são contados como chutes a gol).

In [12]:
filtro = (df["Gols 1"] > df["Chutes a gol 1"]) | (df["Gols 2"] > df["Chutes a gol 2"])
df[filtro][["Gols 1", "Chutes a gol 1", "Chutes a gol 2", "Gols 2"]].head()

     Gols 1  Chutes a gol 1  Chutes a gol 2  Gols 2
85      1.0             0.0             4.0     2.0
121     3.0             2.0             3.0     1.0
131     3.0             0.0             0.0     2.0
307     2.0             0.0             0.0     0.0
419     3.0             7.0             1.0     4.0

Como há casos em que gols > chutes a gol, sabemos que gols não são contados como chutes a gol. Isso também é interessante pois temos como conseguir a taxa de acerto de um time, considerando a quantidade de gols como sucessos e a quantidade de chutes a gol como falhas (imagino que talvez venha a ser útil no modelo de aprendizado de máquina).